@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

h1 {
  /* font-family: Gill Sans; */
  font-weight: bold;
  font-size: 16px;
  color: #f2f5f7;
  color: rgb(242, 245, 247);
  opacity: 0.74;
  /* transform: translateX(-30%); */
}

.input-field {
  /* font-family: Gill Sans; */
  background: #f2f5f7;
  background: rgba(242, 245, 247, 1);
  border-radius: 47px;
  -moz-border-radius: 47px;
  -webkit-border-radius: 47px;
}

.submit-button {
  background: #ffff55;
  background: rgba(255, 255, 85, 1);
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  /* font-family: Gill Sans; */
  font-size: 24px;
  color: rgba(42, 56, 67, 0.8);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #2a3843;
  background: rgba(42, 56, 67, 1);
  overflow: hidden;
}

/* styles.css or your stylesheet */
.bg-container {
  position: relative;
}

.bg-container::before {
  content: "";
  position: absolute;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  background: #ffff55;
  background: rgba(255, 255, 85, 1);
  transform: translateY(50%) translateX(-20%);
}

.bg-container::after {
  content: "";
  position: absolute;
  width: 40vh;
  height: 40vh;
  background: #ffff55;
  background: rgba(255, 255, 85, 1);
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translateY(-40%) translateX(40%);
  opacity: 0.4;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* space between circles */
  margin-top: 1rem; /* space between the text and the circles */
  margin-bottom: 1rem; /* space between the circles and the input field */
}

.circle {
  width: 20px; /* or any size you prefer */
  height: 20px;
  /* background: #ffff55; */
  background-color: rgba(255, 255, 85, 1);

  border-radius: 50%; /* this makes the div circular */
}

.svg-background {
  position: fixed; /* or absolute depending on your needs */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* to ensure it's behind other content */
  overflow: hidden;
}

.svg-background img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw; /* Now setting to full viewport width */
  height: auto;
}
